@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Dosis:wght@200;300;400;500;600;700;800&family=Gowun+Batang:wght@400;700&family=Roboto+Condensed:wght@700&display=swap");

$color-primary: darkcyan;
$color-text: black;
$color-secundary: blue;
$colorsub: white;

$font-titulos: 'Darker Grotesque', sans-serif;
$font-sub: 'Gowun Batang', serif;


.full-screen-image {
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/gafas-sol-zapatos-color-blanco.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.barra_superior {
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.logo {
    width: 100%;
    float: inline-start;
}

.menu {
    list-style: none;
    width: 100%;
    gap: 1rem;
    padding-inline-start: 1rem;
    display: flex;
    gap: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: space-around;

    li {
        display: inline;
        height: 2rem;

        a {
            text-decoration: none; // Eliminar subrayado predeterminado
            transition: font-size 0.3s ease; // Agregar transición suave al cambio de tamaño de fuente
            color: $color-primary;
            padding-bottom: 5px;

            &:hover {
                color: $color-secundary;
                font-size: calc(1em + 4px); // Aumentar el tamaño de fuente en 4px al pasar el mouse
            }
        }
    }



}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-family: $font-titulos;
    color: $color-primary;
}

.sub p {
    color: $color-text;
    $font-sub: 'Gowun Batang', serif;
}

.barra1 {
    $font-sub: 'Gowun Batang', serif;
    $color-primary: darkcyan;
    text-align: center;
    margin-bottom: 50px;
}

card:nth-child(1) .bg-darkcyan .bg-darkcyan {
    background-color: darkcyan;
}

footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;

    span {
        color: darkcyan;
    }
}


.caja {
    background-color: black;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    background-color: white;
    $font-titulos: 'Darker Grotesque', sans-serif;
    width: 350px;
    padding: 5rem;
    border-radius: 10px;
    $color-text: black;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

$total-temporadas: 4;
$color-celeste: rgb(0, 121, 103);

// Iterar sobre cada temporada y asignar un tono de celeste diferente
.temporadas {
    $i: 1;

    @while $i <=$total-temporadas {
        .col-6:nth-child(#{$i}) .card {
            background-color: lighten($color-celeste, $i * 20%);
        }

        $i: $i + 1;
    }
}