@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Dosis:wght@200;300;400;500;600;700;800&family=Gowun+Batang:wght@400;700&family=Roboto+Condensed:wght@700&display=swap");

$color-primary: darkcyan;
$color-text: black;
$color-secundary: blue;
$colorsub: white;

$font-titulos: 'Darker Grotesque', sans-serif;
$font-sub: 'Gowun Batang', serif;


.full-screen-image {
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/gafas-sol-zapatos-color-blanco.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.barra_superior {
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.logo {
    width: 100%;
    float: inline-start;
}

.menu {
    list-style: none;
    width: 100%;
    gap: 1rem;
    padding-inline-start: 1rem;

    li:nth-child(1){
        display: inline;

        a {
            text-decoration: none;
            $color-primary: darkcyan;
            padding-bottom: 5px;
        }
    }

    a:hover {
        $color-secundary: blue !important;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulotienda h3 {
    $font-titulos: 'Darker Grotesque', sans-serif;
    $color-text: black;
}

.barra1 {
    $font-sub: 'Gowun Batang', serif;
    $color-primary: darkcyan;
    text-align: center;
    margin-bottom: 50px;
}

card:nth-child(1)
.bg-darkcyan

.bg-darkcyan {
    background-color: darkcyan;
}

footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;

    span {
        color: darkcyan;
    }
}


.caja{
    background-color: black;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    background-color: white;
    $font-titulos: 'Darker Grotesque', sans-serif;
    width: 350px;
    padding: 5rem;
    border-radius: 10px;
    $color-text: black;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

